<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanju.sachin.dipscounter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dips_lancher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DipsCounterActivity">

        </activity>
        <activity android:name=".HistoryActivity">
            </activity>
    </application>

</manifest>